p {
    font-family: "Lucida Console", Courier, monospace;
}

footer {
    padding: 20px 0px 0px 0px;
    background-color: #d65858  !important;
    text-align: center;
 /*    font-family: "Lucida Console", Courier, monospace;
    font-size: 23px; */
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
  footer a:hover {
    text-decoration: none;
  }