p {
    font-family: "Lucida Console", Courier, monospace;
}
h5 {
    font-family: "Lucida Console", Courier, monospace;
}
input {
    font-family: "Lucida Console", Courier, monospace;
}
th{
    font-family: "Lucida Console", Courier, monospace;
}
td{
    font-family: "Lucida Console", Courier, monospace;
}
li{
    font-family: "Lucida Console", Courier, monospace;
}
button{
    font-family: "Lucida Console", Courier, monospace;
}
header a:hover {
    text-decoration: none;
}

;